<mat-toolbar color="primary" class="app-header">
  <div><a href="#" target="_blank" class="positronx">Cloud Deployment Webinar</a></div></mat-toolbar>
  <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form"  #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username"  [(ngModel)]="data.name" #name="ngModel" [ngModelOptions]="{standalone: true}"
            [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }"  required>
          <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
            <p *ngIf="name.errors">Name is required</p>
          </div>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email"  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"  [(ngModel)]="data.email" #email="ngModel" [ngModelOptions]="{standalone: true}"
            required [(ngModel)]="data.email" #emailCtrl="ngModel" email>
            <div *ngIf="!email.valid && email.touched ">
              <div color="danger">Email is not valid</div>
            </div>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile number"  [(ngModel)]="data.mobile" #mobile="ngModel" [ngModelOptions]="{standalone: true}"
            [ngClass]="{ 'is-invalid': userForm.submitted && mobile.invalid }"  required>
          <div *ngIf="userForm.submitted && mobile.invalid" class="invalid-feedback">
            <div *ngIf="mobile.errors">Mobile number is required</div>
          </div> 
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Choose designation</mat-label>
            <mat-select   type="string"[(ngModel)]="data.profession" #profession="ngModel"  [ngModelOptions]="{standalone: true}"required>
              <mat-option value="student">Student</mat-option>
              <mat-option value="Teacher">Teacher</mat-option>
              <mat-option value="Business">Business</mat-option>
              <mat-option value="others">others</mat-option>
             </mat-select>
             <div *ngIf="!profession.valid && profession.touched">
              <p color="danger">Profession is required</p>
          </div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="City"  [(ngModel)]="data.city" #city="ngModel" [ngModelOptions]="{standalone: true}"
            [ngClass]="{ 'is-invalid': userForm.submitted && city.invalid }"  required>
          <div *ngIf="userForm.submitted && city.invalid" class="invalid-feedback">
            <div *ngIf="mobile.errors">city is required</div>
          </div> 
          </mat-form-field>
  
        </mat-card-content>
  
        <button  [disabled]="userForm.invalid" mat-stroked-button color="accent" class="btn-block" >Register</button>
  
      </form>
    </mat-card>
  </div>


